<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wx.mapper.LafCategoryMapper">

    <resultMap type="LafCategory" id="LafCategoryResult">
        <result property="cateId"    column="cate_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="cateName"    column="cate_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="cateStatus"    column="cate_status"    />
        <result property="parentName" column="parent_name" />
    </resultMap>

    <sql id="selectLafCategoryVo">
        select cate_id, parent_id, cate_name, create_time, create_by, cate_status from laf_category
    </sql>

    <select id="selectLafCategoryList" parameterType="LafCategory" resultMap="LafCategoryResult">
        <include refid="selectLafCategoryVo"/>
        <where>
            <if test="cateId != null "> and cate_id = #{cateId}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <!--时间模糊查询-->
            <if test="createTime != null "> and date_format(create_time,'%y%m%d') = date_format(#{createTime},'%y%m%d')</if>
            <if test="cateStatus != null  and cateStatus != ''"> and cate_status = #{cateStatus}</if>
        </where>
        order by parent_id
    </select>

    <select id="selectLafCategoryByCateId" parameterType="Long" resultMap="LafCategoryResult">
        select t.cate_id, t.parent_id, t.cate_name, t.create_time, t.create_by, t.cate_status, p.cate_name as parent_name
        from laf_category t
                 left join laf_category p on p.cate_id = t.parent_id
        where t.cate_id = #{cateId}
    </select>

    <insert id="insertLafCategory" parameterType="LafCategory" useGeneratedKeys="true" keyProperty="cateId">
        insert into laf_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="cateName != null">cate_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="cateStatus != null">cate_status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="cateName != null">#{cateName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="cateStatus != null">#{cateStatus},</if>
        </trim>
    </insert>

    <update id="updateLafCategory" parameterType="LafCategory">
        update laf_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="cateName != null">cate_name = #{cateName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="cateStatus != null">cate_status = #{cateStatus},</if>
        </trim>
        where cate_id = #{cateId}
    </update>

    <delete id="deleteLafCategoryByCateId" parameterType="Long">
        delete from laf_category where cate_id = #{cateId}
    </delete>

    <delete id="deleteLafCategoryByCateIds" parameterType="String">
        delete from laf_category where cate_id in
        <foreach item="cateId" collection="array" open="(" separator="," close=")">
            #{cateId}
        </foreach>
    </delete>

</mapper>