<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('帖子列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>标题：</label>
                            <input type="text" name="relTitle"/>
                        </li>
                        <li>
                            <label>描述：</label>
                            <input type="text" name="relDesc"/>
                        </li>
                        <li>
                            <label>联系方式：</label>
                            <input type="text" name="relContact"/>
                        </li>
                        <li>
                            <label>物品种类：</label>
                            <select name="relCateId" th:with="type=${@dict.getType('laf_category')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>线索时间：</label>
                            <input type="text" class="time-input" placeholder="请选择线索时间" name="relTime"/>
                        </li>
                        <li>
                            <label>校区：</label>
                            <select name="relCampus" th:with="type=${@dict.getType('laf_campus')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>创建时间：</label>
                            <input type="text" class="time-input" placeholder="请选择创建时间" name="createTime"/>
                        </li>
                        <li>
                            <label>发布者ID：</label>
                            <input type="text" name="createId"/>
                        </li>
                        <li>
                            <label>类别：</label>
                            <select name="relSatus" th:with="type=${@dict.getType('laf_release_cate')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>状态：</label>
                            <select name="relFlag" th:with="type=${@dict.getType('laf_release_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="wx:release:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="wx:release:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="wx:release:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="wx:release:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('wx:release:edit')}]];
    var removeFlag = [[${@permission.hasPermi('wx:release:remove')}]];
    var relCateIdDatas = [[${@dict.getType('laf_category')}]];
    var relCampusDatas = [[${@dict.getType('laf_campus')}]];
    var relSatusDatas = [[${@dict.getType('laf_release_cate')}]];
    var relFlagDatas = [[${@dict.getType('laf_release_status')}]];
    var prefix = ctx + "wx/release";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "帖子",
            columns: [{
                checkbox: true
            },
                {
                    field: 'relId',
                    title: '帖子ID',
                    visible: false
                },
                {
                    field: 'relTitle',
                    title: '标题'
                },
                {
                    field: 'relDesc',
                    title: '描述'
                },
                {
                    field: 'relContact',
                    title: '联系方式'
                },
                {
                    field: 'relCateId',
                    title: '物品种类',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(relCateIdDatas, value);
                    }
                },
                {
                    field: 'relTime',
                    title: '线索时间'
                },
                {
                    field: 'relCampus',
                    title: '校区',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(relCampusDatas, value);
                    }
                },
                {
                    field: 'createPlace',
                    title: '地点'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'createId',
                    title: '发布者ID'
                },
                {
                    /*field: 'relImage',
                    title: '图片',*/
                    field: "relImage", align: "center", title: "图片",
                    formatter: function (value, row, index) {
                         //var image =  '<div><a href="http://localhost' + row.relImage + '" target="view_window"><img style="width: 50px;height: 50px;margin: auto"  src="http://localhost' + row.relImage + '"></img></a></div>';
                        var image =  '<div><a href="' + row.relImage + '" target="view_window"><img style="width: 50px;height: 50px;margin: auto"  src="' + row.relImage + '"></img></a></div>';
                        return image;
                    }
                },
                {
                    field: 'relSatus',
                    title: '类别',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(relSatusDatas, value);
                    }
                },
                {
                    field: 'relStar',
                    title: '赞'
                },
                {
                    field: 'relFlag',
                    title: '状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(relFlagDatas, value);
                    }
                },
                {
                    field: 'relFlow',
                    title: '浏览量'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.relId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.relId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>