<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>统计</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <script src="../static/js/echarts.js" th:src="@{/js/echarts.js}" ></script>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">

        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">全部</span>
                        <h5>信息量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="information"></h1>
<!--                        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i>-->
<!--                        </div>-->
<!--                        <small>总发布</small>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">全部</span>
                        <h5>已成功</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="success"></h1>
<!--                        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i>-->
<!--                        </div>-->
<!--                        <small>已成功</small>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">全部</span>
                        <h5>会员总数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="number" ></h1>
<!--                        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i>-->
<!--                        </div>-->
<!--                        <small>新访客</small>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right">今天</span>
                        <h5>今日流量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="flow"></h1>
<!--                        <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i>-->
<!--                        </div>-->
<!--                        <small>12月</small>-->
                    </div>
                </div>
            </div>
        </div>

        <div  class="row">
            <div id="yang">
                <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
                <div id="graph" style="width: 50%;height:400px;"></div>
                <div id="fan" style="width: 50%;height:400px;"></div>
            </div>


        </div>

        <div class="row">
            <div class="col-sm-12">
            </div>
         </div>
      </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/flot/jquery.flot.js}"></script>
    
    <th:block th:include="include :: sparkline-js" />
    <script type="text/javascript">

        var grap_data=[];
        $(document).ready(function() {
            console.log(1)
            $.ajax({
                //url
                url:'/wx/statistic' ,
                //参数:
                //data:{},
                //请求类型：
                type:'get',
                //响应体结果：
                dataType:'json',
                //传递头信息：
                header:{
                    //Access-Control-Allow-Origin:*
                },
                //成功回调：
                success:function(data){
                    $("#information").text(data.information);
                    $("#success").text(data.success);
                    $("#number").text(data.number);
                    $("#flow").text(data.flow);
                    graph(data.column_chart);
                    fan(data.fan_chart);
                },
                //超时时间：
                //timeout:2000,
                //失败回调：
                error:function(){
                    console.log('出错');
                },
            })
        });
        console.log(2)
        function graph(data){
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('graph'));
            var date=getDay();
            var value = [];
            for (let i = data.length-1; i >=0 ; i--) {
                value.push(data[i].value);
            }
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '近7日发布信息量'
                },
                tooltip: {},
                legend: {
                    data: ['今日信息发布量']
                },
                xAxis: {
                    data: date
                },
                yAxis: {},
                series: [
                    {
                        name: '信息量',
                        type: 'bar',
                        data: value
                    }
                ]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);

        }
        function fan(data){
            var dom = document.getElementById("fan");
            var myChart = echarts.init(dom);
            var app = {};

            var option;



            option = {
                title: {
                    text: '丢失物品数据占比',
                    subtext: 'Percentage Data',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left'
                },
                series: [
                    {
                        name: '丢失数量',
                        type: 'pie',
                        radius: '50%',
                        data:data,
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

            if (option && typeof option === 'object') {
                myChart.setOption(option);
            }
        }

        function getDay(){
            let dates=[];
            for (var i = -6; i <= 0; i++) {
                var today = new Date();
                var targetday_milliseconds=today.getTime() + 1000*60*60*24*i;
                today.setTime(targetday_milliseconds); //注意，这行是关键代码
                var tYear = today.getFullYear();
                var tMonth = today.getMonth();
                var tDate = today.getDate();
                tMonth = doHandleMonth(tMonth + 1);
                tDate = doHandleMonth(tDate);
                let date = tMonth+"-"+tDate;
                dates.push(date)
            }
            return dates;

        }
        function doHandleMonth(month) {
            var m = month;
            if (month.toString().length == 1) {
                m = "0" + month;
            }
            return m;
        }

    </script>
</body>
</html>
